@model IList<GreenHouseBulgaria.Web.ViewModels.ServiceViewModel>
@{
    ViewBag.Title = "ServicesNavigation";
}
<style>
    .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
</style>

<ul class="nav navbar-nav navbar-right">

    <li>
        @Html.ActionLink("Начало", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("За нас", "About", "Home")
    </li>
    <li>
        @Html.ActionLink("Контакти", "Contact", "Home")
    </li>
    <li class="dropdown">
        
        @Html.ActionLink("Услуги", "GetAllServices", "PublicServices")
        <ul class="dropdown-menu">

            @foreach (var service in @Model)
            {
                <li>@Html.ActionLink(@service.Title, "GetService", "PublicServices", new { serviceId = service.Id }, null) </li>
            }

        </ul>
    </li>
</ul>
