@model GreenHouseBulgaria.Web.ViewModels.ServiceViewModel

@{
    ViewBag.Title = "GetService";

    int colorHelperCounter = 0;
    string colorStyle = "green";
}

<style>
        pre {
            white-space: pre-wrap;
            border: none;
            background-color: #fff;
            word-break: keep-all;
        }

        * {
            box-sizing: border-box;
        }

        /* Create three columns of equal width */
        .columns {
            float: left;
            width: 33.3%;
            padding: 8px;
        }

        /* Style the list */
        .price {
            list-style-type: none;
            border: 1px solid #eee;
            margin: 0;
            padding: 0;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }

            /* Add shadows on hover */
            .price:hover {
                box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
            }

            /* Pricing header */
            .price .header {
                background-color: #111;
                color: white;
                font-size: 20px;
            }

            .price .header-green {
                background-color: #0b9444;
                color: white;
                font-size: 20px;
            }

            .price .header-blue {
                background-color: #085327;
                color: white;
                font-size: 20px;
            }

            
            .price .header-red {
                background-color: #0a7436;
                color: white;
                font-size: 20px;
            }

            .price .header-grey {
                background-color: #083f1f;
                color: white;
                font-size: 20px;
            }

            /* List items */
            .price li {
                border-bottom: 1px solid #eee;
                padding: 20px;
                text-align: center;
            }

            /* Grey list item */
            .price .grey {
                background-color: #eee;
                font-size: 20px;
            }

        /* The "Sign Up" button */
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }

        .price {
            font-size: 2em;
        }

        /* Change the width of the three columns to 100%
    (to stack horizontally on small screens) */
        @@media only screen and (max-width: 600px) {
            .columns {
                width: 100%;
            }
        }

        ul {
            list-style-type: circle;
            font-size: 20px;
        }
</style>
<div class="page-wrap">
          
           
            @Html.Raw(@Model.Content)
       


        <div class="row">
            @foreach (var price in Model.ServicePriceViewModels)
            {
                if (colorHelperCounter == 0)
                {
                    colorStyle = "green";
                }
                else if (colorHelperCounter == 1)
                {
                    colorStyle = "red";
                }
                else if (colorHelperCounter == 2)
                {
                    colorStyle = "blue";
                }
                else if (colorHelperCounter == 3)
                {
                    colorStyle = "grey";
                }
                <div class="columns">
                    <ul class="price">
                        <li class="header-@colorStyle">@price.Title</li>
                        <li class="grey">@price.Description</li>
                        <li>@price.Price</li>

                        <li class="grey"><a href="@Url.Action("SubscribeForService","Subscription", new { servicePriceId = price.Id })" class="button">Поръчай</a></li>
                    </ul>
                </div>

                colorHelperCounter++;
            }

        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
