@model GreenHouseBulgaria.Web.ViewModels.ServiceViewModel

@{
    ViewBag.Title = "GetService";
}



<div>
      
    <h2>@Html.DisplayFor(model => model.Title)</h2>                                    
    @Html.Raw("<pre>" + @Model.Content + "</pre>")         
</div>


    <div class="row">
       @foreach (var price in Model.ServicePriceViewModels)
       {
           <div class="col-md-4">
               <div>@price.Title</div>
               <div>@price.Description</div>
               <div>@price.Price</div>
               <div>@Html.ActionLink("Поръчай", "SubscribeForService", "Subscription", new { servicePriceId = price.Id},null) </div>
           </div>
       }

    </div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
