@model GreenHouseBulgaria.Web.ViewModels.ContactMessageViewModel

@{
    ViewBag.Title = "Contact";
}


<div class="page-wrap">
    <div class="page-name titleAnimation">
        <h1>Свържи се с нас</h1>
    </div>

    <div class="container fadeUpEffect">
        <div class="row wiwet-welcome">
            <div class="col-sm-8 col-sm-offset-2 text-center wiwet-skript-contact">
                <h3>Говори с нас</h3>
                <h2>Изпрати съобщение</h2>
                <h6 class="three-dot-line">
                    <span>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                    </span>
                </h6>
                <p>
                    Контактът с нас е бърз и изключително лесен!
                    Обадете ни се сега на номер <span class="colored-number">+359 896 963870</span> или попълнете нашата бърза форма на платформата на сайта в рамките само на няколко секунди!
                    Вземете своята безплатна консултация и ценова оферта за еднократно или абонаментно почистване на Вашия дом, офис или жилищен вход или за някоя от услугите, свързани със грижа за домашни любимци, които предлагаме!
                    Не се колебайте! Възползвайте се от качеството на нашите услуги на достъпни цени в София, Перник или Бургас!

                </p>
               @using (Html.BeginForm("CreateContactMessage","ContactMessage", FormMethod.Post))
               {
                   @Html.AntiForgeryToken()
                <div class="row">
                  
                    <div>
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.FullName) } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                   <div class="row">
                     
                       <div>
                           @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email) } })
                           @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                       </div>
                   </div>

                <div class="row">
                  
                    <div>
                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Subject) } })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                 
                    <div>
                        @Html.TextAreaFor(model => model.Text, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Text) })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                   <div class="row">
                       <div class="col-sm-6 col-sm-offset-3">
                           <input type="submit" value="Изпрати">
                       </div>
                   </div>
               }
            </div>
        </div>
    </div>

    <div class="row wiwet-skript-our-location fadeLeftRight">
        <div class="col-sm-7 col-md-9 fadeLeftEffect">
            <div id="map-canvas"></div>
        </div>
        <div class="col-sm-5 col-md-3 fadeRightEffect">
            <div>
                <h3>VISIT US</h3>
                <h2>OUR LOCATION</h2>
                <span>
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                </span>

                <p>
                    <i class="fa fa-map-marker"></i>
                    25, Broadway Manhattan <br> New York - United States
                </p>

                <p>
                    <i class="fa fa-phone"></i>
                    <a href="tel:359896963870">+359896963870</a>
                </p>

                <p>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:officegreenhome.bg@gmail.com">officegreenhome.bg@gmail.com</a>
                </p>

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>

            </div>
        </div>
    </div>

</div>
