@using GreenHouseBulgaria.Web.ViewModels
@model GreenHouseBulgaria.Web.ViewModels.ServicePriceViewModel
    
<div class="servicePrice">
    @using (Html.BeginCollectionItem(nameof(ServiceViewModel.ServicePriceViewModels)))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ServiceId)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="button" class="btn btndanger removeServicePriceButton">Изтрий цената</button>
    }
</div>